html {
	font-size: var(--font-size-base);
	font-family: inter;
	font-weight: 300;
	scroll-behavior: smooth;
}

.main-container-home {
	background-image: url(../assets/images/concrete2.jpg);
	height: 100%;
}

.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.home-logo {
	position: absolute;
	font-size: var(--font-size-m);
	font-weight: 600;
	padding: 1rem;
	background-color: var(--color-secondary);
	color: var(--color-accent1);
	z-index: 1;
}

.landing-screen {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	color: var(--color-accent1);
}

.landing-screen h1 {
	cursor: pointer;
	font-size: var(--font-size-xl);
}

.landing-screen span {
	position: absolute;
	left: 50%;
	transform: rotate(90deg);
}

.landing-screen span:hover {
	top: 55%;
}

.intro {
	display: flex;
	height: 100vh;
	justify-content: space-between;
	align-items: center;
	margin-left: 5rem;
	margin-right: 5rem;
}

.intro-paragraph {
	display: flex;
	flex-direction: column;
	flex-basis: 50%;
	gap: 2rem;
}

.intro-picture {
	position: relative;
	height: 60%;
	width: 20%;
	background-color: grey;

}

.intro-picture img {
	position: relative;
	z-index: 10;
}

.intro-picture__arrow {
	position: absolute;
	top: 0;
	left: 80%;
	height: 60%;
	width: 20%;
	display: flex;
	align-items: center;
	justify-content: center;
	border-top-right-radius: 10px;
	background-color: var(--color-secondary);
	color: var(--color-primary);
	z-index: 1;
	transition: 300ms;
}

.intro-picture__arrow--active {
	left: 100%;
}

.link-options {
	display: flex;
	font-size: var(--font-size-l);
	align-items: center;
	justify-content: space-around;
	height: 50vh;
	color: var(--color-accent1);
}

.link-options a {
	background-color: var(--color-secondary);
	padding: 1rem;
}

/* Projects page  */

.main-container-projects {
	height: 100%;
}

.slideshow-container {
	display: flex;
	flex-flow: row nowrap;
}

.slideshow {
	position: relative;
	height: 100vh;
	width: 100%;
	background-color: #5d5d5d;
	flex-basis: 70%;
}

.slideshow__slides {
	width: 100%;
	height: 100%;
}

.slideshow__slide {
	position: absolute;
	width: 100%;
	height: 100%;
	display: none;
}

.slideshow__slide--visible {
	display: block;
}

.slideshow__img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.slideshow__slide-captions {
	position: relative;
	flex-basis: 30%;
	padding: 2rem;
}

.slideshow__slide-caption {
	position: absolute;
	display: none;
	flex-direction: column;
	gap: 1rem;
	padding: 1rem;
	font-size: var(--font-size-l);
}

.slideshow__slide-caption p {
	font-size: var(--font-size-base);
}

.slideshow__slide-caption--curent {
	display: flex;
}

.slideshow__slide-counter {
	position: absolute;
	left: 100%;
	transform: translate(-100%, -100%);
	padding: 0.3rem;
	font-size: 0.8rem;
	color: var(--color-accent1);
}

.slideshow__controlls {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding: 0.1rem;
}

.slideshow__controlls-button {
	cursor: pointer;
	padding: 0.5rem 0.3rem;
	background-color: var(--color-secondary);
	color: var(--color-primary);
}

.slideshow__controlls-button:hover {
	color: var(--color-accent1);
}

.slideshow__controlls-button:active {
	opacity: 0.4;
}

.slideshow__dots {
	position: absolute;
	right: 50%;
	top: 95%;
	transform: translateX(50%);
	display: flex;
	flex-flow: row nowrap;
	gap: 0.3rem;
	padding: 0.3rem;
}

.slideshow__dot {
	height: 0.8rem;
	width: 0.8rem;
	border-radius: 100%;
	background-color: #C3C3C3;
	cursor: pointer;
}

.slideshow__dot--current {
	background-color: var(--color-accent1);
}

.slideshow__dot:hover {
	opacity: 0.7;
}

.slideshow__dot:active {
	opacity: 0.4;
}

/* Contact page */

.main-container-contact {
	background-image: url(../assets/images/concrete2.jpg);
	height: 100vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.form,
.form__cells,
.form__call-to-action-button {
	display: flex;
}

.form {
	flex-flow: column nowrap;
	height: 30.8rem;
	width: 20rem;
	gap: 2.1875rem;
}

.form__cells {
	flex-direction: column;
	width: 100%;
	gap: 1rem;
}

.form__cell {
	width: 100%;
	height: 2rem;
	/* border: 0.05rem solid var(--color-secondary); */
	padding-left: 1rem;
}

.form__cell-text-field {
	display: flex;
	height: 10rem;
	justify-content: flex-start;
	align-items: flex-start;
}


.form__call-to-action-button {
	width: 100%;
	height: 2.5rem;
	justify-content: center;
	align-items: center;
	background-color: var(--color-secondary);
	color: var(--color-accent1);
	font-size: var(--font-size-m);
	cursor: pointer;
}